.git/
.vs/

x64/
ECS/x64/
Core/x64/
Core/.vs/
ImGui/x64/
ImageRender/x64
Render/x64
Sandbox/x64
Lib/
packages/
DirectXTex/.vs/
DirectXTex/Bin/
DirectXTex/Shaders/Compiled

Core/imgui.ini
Core/ECS_Log.txt
Sandbox/imgui.ini
Sandbox/EngineCoreLog.txt

build/
trash/
